@tailwind base;

@layer base {
  :root {
    /* BRAND COLORS */
    --primary: #723fff;
    --primary-light: #b499ff;
    --primary-lighter: #ece5ff;
    --primary-dark: #4f2cb2;
    --primary-darker: #07001a;
    --primary-foreground: var(--foreground);

    --secondary: #f44336;
    --secondary-light: #ff7961;
    --secondary-dark: #ba000d;
    --secondary-foreground: var(--foreground);

    /* UTILS COLORS */
    --warning: #ffa726;
    --warning-light: #ffb74d;
    --warning-dark: #f57c00;
    --warning-foreground: var(--foreground);

    --info: #29b6f6;
    --info-light: #4fc3f7;
    --info-dark: #0288d1;
    --info-foreground: var(--foreground);

    --success: #66bb6a;
    --success-light: #81c784;
    --success-dark: #388e3c;
    --success-foreground: var(--foreground);

    --error: #f44336;
    --error-light: #e57373;
    --error-dark: #d32f2f;
    --error-foreground: var(--foreground);

    /* COMMON COLORS */
    --black: #0f0f0f;
    --white: #f0f0f0;

    --background: #18181b;
    --background-paper: #161617;

    --foreground: var(--white);

    /* COMPONENTS COLORS */
    --card: #ffffff;
    --card-foreground: #09090b;

    --popover: #ffffff;
    --popover-foreground: #09090b;

    --muted: #f4f4f5;
    --muted-foreground: #97989f;

    --accent: #f4f4f5;
    --accent-foreground: #18181b;

    --border: #D9D9D93B;
    --input: #b1b1b1;
    --ring: #18181b;

    /* CHART COLORS */
    --chart-1: #e76e50;
    --chart-2: #2a9d90;
    --chart-3: #274754;
    --chart-4: #e8c468;
    --chart-5: #f4a462;
  }

  .dark {
    /* COMMON COLORS */
    --black: #e5e5e5;
    --white: #121212;

    --background: #121212;
    --background-paper: #1e1e1e;

    --foreground: var(--black);

    /* COMPONENTS COLORS */
    --card: #1f1f1f;
    --card-foreground: #e0e0e0;

    --popover: #1f1f1f;
    --popover-foreground: #e0e0e0;

    --muted: #999999;
    --muted-foreground: #bbbbbb;

    --accent: #999999;
    --accent-foreground: #f0f1f5;

    --border: #444444;
    --input: #333333; /* Darker input field */
    --ring: #ffffff; /* Light ring for focus */

    /* CHART COLORS */
    --chart-1: #e76e50;
    --chart-2: #2a9d90;
    --chart-3: #274754;
    --chart-4: #e8c468;
    --chart-5: #f4a462;
  }
}
