@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(../theme/palette.css);
@import url(../theme/shape.css);

@layer base {
  * {
    @apply box-border select-none scroll-smooth will-change-auto;
  }
  body {
    @apply bg-background text-foreground;
  }

  :root {
    --container: 1329px;
  }

  /* SCROLL SMOOTHER */
  html.lenis,
  html.lenis body {
    height: auto;
  }

  .lenis.lenis-smooth {
    scroll-behavior: auto !important;
  }

  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }

  .lenis.lenis-stopped {
    overflow: hidden;
  }

  .lenis.lenis-smooth iframe {
    pointer-events: none;
  }

  .gradient-text {
    background: linear-gradient(
      180deg,
      #ffffff 50%,
      #ffffffa8 76%,
      #ffffff54 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .blur-bg {
    background: rgb(231, 231, 231);
    /* background: rgba(30, 30, 30, 0.1); */
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
  }
  .bg-dark-gradient {
    background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 56.86%,
      #000000 100%
    );
  }
}
