@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: normal;
  src: url("./Montserrat-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  font-style: normal;
  src: url("./Montserrat-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  font-style: normal;
  src: url("./Montserrat-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: normal;
  src: url("./Montserrat-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 800;
  font-style: normal;
  src: url("./Montserrat-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 900;
  font-style: normal;
  src: url("./Montserrat-ExtraBold.ttf") format("truetype");
}
